

#wrapper div {
    width: 1024px;
}

div#center-line {
    width: 400px;
    min-width: 200px;
    display: block;
    padding-top: 40%;
    padding-left: 40%;
}

#btn-select, #btn-show {
    #max-width: 100px;
    display: inline;
}
